.submitbutton__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  background: #3626A7;
  transition: background .2s;
  &:hover {
    background: #2104f7;
  }
}

.submitbutton__submit{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: transparent;
  cursor: pointer;
}

.submitbutton__text {
  font-family: "Mulish", sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 24px;
  color: #151515;
}

