@font-face {
  font-family: 'Mulish';
  src: url('./fonts/Mulish-Italic-VariableFont_wght.ttf') format('ttf'),
    url('./fonts/Mulish-VariableFont_wght.ttf') format('ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
